$break-points: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$primary-text: #6c5ce7;

$secondary-text: #2d3436;

$dark-color: #000000;

$light-color: #ffffff;

$light-border: #adadad;

$light-color: #ffffff;
